<% include partials/headerSPA %>
<header>People, ______, Things!</header>
<a id="addArt" href="/articles/new">Save article</a>
<div id="needID"></div><!-- 
<div id="map-canvas"></div>
<div id="addedPoints">Articles from your area </div>
 -->



<% include partials/footer %>